<ul class="uk-list" id="message-list" style="list-style-type: none;">
  <% messages.forEach((item) => { %>
    <li class="message" style="list-style-type: none;">
      <div>
        <span class="title"><a class="uk-link-reset" href="<%= '/messages/' + item.id %>"><%= item.content %></a></span>
        <p><span class="sender ">@<%= item.originId %><span class=""><%= moment(item.createdAt).fromNow()%></span></p>
      </div>
      <form class="new-comment" action="/comments" method="post">
        <input class="uk-input uk-form-blank uk-text-success uk-form-width-small db" type="hidden" name="originMessage" value="1">
        <input class="uk-input uk-form-blank uk-text-success uk-form-width-small db" type="text" name="content" placeholder="Reply to Msg">
        <button class="uk-label" type="submit">Reply</button>
      </form>
      <% if(user.username === item.originId){ %>
      <form action="<%= '/messages/' + item.id + '?_method=DELETE' %>" method="POST">
        <button class="uk-button uk-button-primary uk-button-small" type="submit" value="X"> Delete </button>
      </form>
      <%  } %>
      <div class="likeButton" style="border:1px solid; width:2rem;">
        Like Button
      </div>
    </li>
  <% }) %>
</ul>
