<ul class="uk-list uk-animation-fade uk-margin-large-top" id="message-list">
  <% messages.forEach((item) => { %>
    <li class="message">
      <div>
        <span class="title"><a class="uk-link-reset" href="<%= '/m/' + item.id %>"><%= item.content %></a></span>
        <p>
          <a class="uk-link-muted origin" href="/<%= item.originId %>">
            <span class="sender">@<%= item.originId %></span>
          </a>
          <span class=""><%= moment(item.createdAt).fromNow() %></span>
        </p>
        <% if (item.originId !== user.username) { %>
          <form class="submit-like" class="uk-search-large" action="<%= '/m/' + item.id %>" method="post">
            <button type="submit" class="like-button">
            <% let liked = '' %>
              <% likes.map((like) => { %>
                <% if (like.originId === item.id) { %>
                  <% liked = 'icon-pink' %>
                <% } %>
              <% }) %>
              <span class="uk-align-center icon-heart <%= liked %>"></span>
            </button>
          </form>
        <% } %>
      </div>
    </li>
  <% }) %>
</ul>
