<ul class="uk-list uk-animation-fade" id="message-list" style="list-style-type: none;">
  <% messages.forEach((item) => { %>
    <li class="message" style="list-style-type: none;">
      <div>
        <span class="title"><a class="uk-link-reset" href="<%= '/m/' + item.id %>"><%= item.content %></a></span>
        <p>
          <a class="uk-link-muted origin" href="/<%= item.originId %>">
            <span class="sender">@<%= item.originId %></span>
          </a>
          <span class=""><%= moment(item.createdAt).fromNow() %></span>
        </p>
      </div>
    </li>
  <% }) %>
</ul>
