<ul class="uk-list uk-animation-fade uk-margin-large-top" id="message-list">
  <% messages.forEach((item) => { %>
    <li class="message">
      <div>
        <span class="title"><a class="uk-link-reset" href="<%= '/m/' + item.id %>"><%= item.content %></a></span>
        <p>
          <a class="uk-link-muted origin" href="/<%= item.originId %>">
            <span class="sender">@<%= item.originId %></span>
          </a>
          <span class=""><%= moment(item.createdAt).fromNow() %></span>
          <div><span class=""><%= item.votes %></span></div>
        </p>
      </div>
    </li>
  <% }) %>
</ul>
